.one{
    background-color:#eef7f1 ;
    border: 1px solid #eef7f1;
}
.two{
    background-color: #fde8e4;
    border: 1px solid #fde8e4;
}
.three{
    background-color: #fef6ed;
    border: 1px solid #fef6ed;
}
.four{
    background-color: #f4ebf7;
    border: 1px solid #f4ebf7;
}
.five{
    background-color: #fff8e5;
    border: 1px solid #fff8e5;
}
.six{
    background-color: 
#fff8e5;
    border: 1px solid 
#fff8e5;
}
/* .   */